.titulo-Modal {
  color: #f68a20;
}

.Name {
  color: #f68a20;
  font-size: 1rem;
  font-weight: 600;
}

.Selected {
  width: 100%;
  padding: 0.3rem;
  margin: 0.7rem 0 0 0;
  border: 1px solid #f68a20;
  color: #f68a20;
  font-size: 0.9rem;
}

.Selected:focus {
  outline: none;
}

.Options {
  width: 100%;
}

.ContainerFileUpdate {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0 0;
}

.PreviewUpdateFile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0 0 2rem;
}

.PreviewUpdate {
  width: 240px;
  height: 300px;
}

.ContentDataMeta {
  display: flex;
}

@media (max-width: 767px) {
  .ContentDataMeta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: row wrap-reverse
  }

  .PreviewUpdateFile {
    margin: .3rem 0 0 0;
  }
}
