.Detallado {
  width: 100%;
  height: 100%;
  border-left: 1px solid #c4c4c4;
  padding-left: 0.1rem;
  overflow-y: scroll;
}

.header {
  background-color: #f68a20;
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
}

.Icon-Header {
  width: 40px;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f68a20;
  font-size: 1.3rem;
  border: 1px solid #f68a20;
  font-weight: bold;
  cursor: pointer;
}

.Title-Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-size: 0.7rem;
  color: white;
}

.Main {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5rem;
}

.Detalle {
  margin-top: 1rem;
  background-color: #f68a20;
  width: 55%;
  height: 7%;
  border-radius: 1rem 0rem 1rem 0rem;
}

.Detalle > h1 {
  color: white;
  font-size: 1.2rem;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 0.3rem;
}

.Detalle-false {
  margin-top: 1rem;
  color: white;
  width: 55%;
  height: 7%;
  border-radius: 0rem 1rem 0rem 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.Detalle-false > h1 {
  color: #f68a20;
  font-size: 1.2rem;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 0.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.Seguimiento {
  margin-top: 1rem;
  color: white;
  width: 55%;
  height: 7%;
  border-radius: 0rem 1rem 0rem 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.Seguimiento > h2 {
  color: #f68a20;
  font-size: 1.2rem;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 0.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.Seguimiento-True {
  margin-top: 1rem;
  background-color: #f68a20;
  width: 55%;
  height: 7%;
  border-radius: 1rem 0rem 1rem 0rem;
}

.Seguimiento-True > h2 {
  color: white;
  font-size: 1.2rem;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 0.3rem;
}

.contenedor {
  /* overflow: hidden !important; */
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-self: center;
}

.ContentPdf {
  width: 275px;
  height: 340px;
}

.footer {
  text-align: center;
  color: #f68a20;
  font-size: 0.7rem;
}

.father {
  display: flex;
  width: 310px;
}

.father .uno {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.uno .title {
  width: 120px;
  overflow: hidden;
  line-height: 2;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #f68a20;
  font-weight: bold;
}

.father .dos {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.dos .Celda-Meta {
  display: flex;
  font-size: 1rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #303030;
}

.Container-Celda-Meta {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.ContainerSeguiment {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  flex-direction: column;
}

.ContainerDataName{
  display: flex;
  width: 100%;
  padding: 0 0 2rem 0;
}

.TableNameSeguiment{
  width: 50%;
}

.TableDataSeguiment{
  width: 50%;
  background-color: aqua;
}

.ContentDataSeguiment{
  border: 1px solid #fff;
  padding: .5rem;
  display: flex;
  justify-content: initial;
  color: white;
  background-color: #f68a20;
  height: 2.5rem;
}

.ContentNameSeguiment{
  border: 1px solid #f68a20;
  padding: .5rem;
  display: flex;
  justify-content: center;
  color: #f68a20;
  background-color: #fff;
  text-align: center;
  align-items: center;
  height: 2.5rem;
}